---
page_title: "Provider: Leanspace"
---

# {{ .ProviderShortName | title }} Provider

The leanspace provider provides utilities for working with the
various resources available on the platform. It provides all
resources that are considered "static", ie. that are unlikely to
change frequently. For instance, command definitions are supported,
but not command instances.

Use the navigation to the left to read about the available resources,
and their data source counterparts.

## Example Usage

{{ tffile "examples/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Limitations

### Syncing with the console

The resource created through this provider will be created on your
tenant, and will be accessible through the console. This also means
that this provider is not immune to name collisions! If you attempt
creating a resource that has the same name as an existing resource
on your tenant, an error will be thrown (usually with code `409`).
If this happens, either rename or delete (this can't be undone!) 
one of the two resources.

### Trimming

We perform a trimming on all text, therefore is it recommanded to avoid 
having spaces at the start and the end of your text. Otherwise terraform 
will inform you that there is changes to be made even though there isn't any.

> 6.0.0 : Breaking change, previous "plan_states" were linked to the deprecated service "pass-plans/state"
> It is now linked to the correct service "plans/states"
> Last version using deprecated plan_states : 5.8.2
