---
page_title: "Provider: Leanspace"
---

# {{ .ProviderShortName | title }} Provider

The leanspace provider provides utilities for working with the
various resources available on the platform. It provides all
resources that are considered "static", ie. that are unlikely to
change frequently. For instance, command definitions are supported,
but not command instances.

Use the navigation to the left to read about the available resources,
and their data source counterparts.

## Example Usage

{{ tffile "examples/minimal_example.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Limitations

### Syncing with the console

The resource created through this provider will be created on your
tenant, and will be accessible through the console. This also means
that this provider is not immune to name collisions! If you attempt
creating a resource that has the same name as an existing resource
on your tenant, an error will be thrown (usually with code `409`).
If this happens, either rename or delete (this can't be undone!) 
one of the two resources.
